# 1.What are the two values of the Boolean data type? How do you write them?

Ans-1) The two values of the boolean data type are True and False. 
Boolean variables are used to indicate whether a condition is
true or not, or to represent two states, such as on
or off and yes or no.
True represents 1, False represents 0.

# 2.What are the three different types of Boolean operators?

Ans-2) The three boolean operators are-
       AND, OR and NOT
       AND means if both the condition fulfill then it gives True or 1, otherwise False or 0.
       OR means if either condition is right then the result is True or 1, otherwise False or 0. 
       NOT operator is uses for negative or opposite.

# 3.Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

In [10]:
#Ans-3) A and B are inputs, C is an output.
import pandas as pd
AND = {"A":[0,0,1,1],"B":[0,1,0,1],"C":[0,0,0,1]}
df = pd.DataFrame(AND)
df

   A  B  C
0  0  0  0
1  0  1  0
2  1  0  0
3  1  1  1

In [11]:
#A and B are inputs, C is an output
OR = {"A":[0,0,1,1],"B":[0,1,0,1],"C":[0,1,1,1]}
df = pd.DataFrame(OR)
df

   A  B  C
0  0  0  0
1  0  1  1
2  1  0  1
3  1  1  1

In [12]:
# A is an input, C is an output.
NOT = {"A":[0,1],"C":[1,0]}
df = pd.DataFrame(NOT)
df

   A  C
0  0  1
1  1  0

# 4.What are the values of the following expressions?
  '''
  
  (5 > 4) and (3 == 5),
  
  not (5 > 4),
  
  (5 > 4) or (3 == 5),
  
  not ((5 > 4) or (3 == 5)),
  
  (True and True) and (True == False),
  
  (not False) or (not True).'''

In [13]:
#Ans-4) 
(5 > 4) and (3 == 5)

False

In [14]:
not (5 > 4)

False

In [15]:
(5 > 4) or (3 == 5)

True

In [16]:
not ((5 > 4) or (3 == 5))

False

In [17]:
(True and True) and (True == False)

False

In [18]:
(not False) or (not True)

True

# 5.What are the six comparison operators?

Ans-5) The six main comparison operators are: 
    equal to - ==, not equal to - !=, greater than - >, greater than or equal to - >=, less than - <, and less than or equal to - <=.

# 6.How do you tell the difference between the equal to and assignment operators? Describe a condition and when you would use one.

Ans-6) The “=” is an assignment operator is used to assign the value on the right to the variable(a) on the left.
       
       eg- a= 10,
       
           b= "Rashi",
           
           c= 90.9

The ‘==’ operator checks whether the two given operands are equal or not. If so, it returns true. Otherwise it returns false.

        eg- 10==10 (It will return True),
        
            10==6 (It will return False).

# 7.Identify the three blocks in this code:
spam = 0

if spam == 10:

print('eggs')

if spam > 5:

print('bacon')

else:

print('ham')

print('spam')

print('spam')

Ans-7) 1) create spam is an input function, so that we enter the value.
       2) indentation error in third, fifth, and seventh line of code.
       3) else take only one condition in the above code three print times print function used that is incorrect.
       
       The corect code should be-

In [32]:
spam = int(input('Enter the value'))
       
if spam==10:
    print('eggs')
          
        
elif spam>5:
     print('bacon')
          
else:
    print('ham')

Enter the value10
eggs

In [33]:
spam = int(input('Enter the value'))
       
if spam==10:
    print('eggs')
          
        
elif spam>5:
     print('bacon')
          
else:
    print('ham')

Enter the value7
bacon

In [34]:
spam = int(input('Enter the value'))
       
if spam==10:
    print('eggs')
          
        
elif spam>5:
     print('bacon')
          
else:
    print('ham')

Enter the value4
ham

# 8.Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [40]:
#Ans-8)
spam = int(input('Enter the value'))
       
if spam==1:
    print('Hello')
    
        
elif spam==2:
    print('Howdy')
    
else:
    print('Greetings!')

Enter the value1
Hello

In [41]:
spam = int(input('Enter the value'))
       
if spam==1:
    print('Hello')
    
        
elif spam==2:
    print('Howdy')
    
else:
    print('Greetings!')

Enter the value2
Howdy

In [42]:
spam = int(input('Enter the value'))
       
if spam==1:
    print('Hello')
    
        
elif spam==2:
    print('Howdy')
    
else:
    print('Greetings!')

Enter the value-3
Greetings!

# 9.If your programme is stuck in an endless loop, what keys you’ll press?

Ans-9) If programme is stuck in an endless loop, then ctrl+c(c stands cancel) or interrupt the kernel(square shape button) keys stop the programme.

# 10.How can you tell the difference between break and continue?

Ans-10) Break is use for stop the programme and the next line won't be executed, while continue uses for continue the next line and except the defined condition when comes under the programme.
        eg-

In [63]:
for val in 'Rashika':
    if val=='i':
        break
    print(val)
print('The end')

R
a
s
h
The end

In [64]:
for val in 'Rashika':
    if val=='i':
        continue
    print(val)
print('The end')

R
a
s
h
k
a
The end

# 11.In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

Ans-11) Baically there is no difference between the three functions given in the above question for range.


There are three ways to call range() function: 
range(stop) takes one argument.
range(start, stop) takes two arguments.
range(start, stop, step) takes three arguments.

When we call range() with one argument i.e. 10, will get a series of numbers that starts at 0 and includes every whole number up to 10, but not including, the number(10) that we've provided as the stop.


When we call range() with two arguments, we get to decide not only where the series of numbers stops but also where it starts.


When we call range() with three arguments, then we can choose not only where the series of numbers will start and stop but also how big the difference will be between one number and the next, in the question range(0, 10, 1) the third argument one is given we can change according our requirement.

# 12.Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [65]:
#Ans-12)
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [73]:
i = 1
while i < 11:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

# 13.If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

Ans-13) spam.bacon()

                               Thank You! Keep Learning, Keep Growing.